body {
  margin: 0px;
  font-family: "Roboto Slab", serif;
}
/* header part start */
.name {
  color: #6c48da;
}
.header-part {
  width: 45%;
  margin: 13px;
  padding: 18px;
  float: left;
}
.header-part img {
  width: 95%;
}
.top-banner {
  background: url(images/developer-portfolio/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 400px;
}

.header-image {
  text-decoration: none;
  background-color: #6c48da;
  color: white;
  padding: 10px 20px;
  font-size: 700;
}
/* header part End */
.header-tittle {
  text-align: center;
  color: #2a292a;
}
/* second Banner start */
.Web-area {
  width: 40%;
  margin: 13px;
  padding: 18px;
  float: left;
}
.Web-btn {
  text-decoration: none;
  background-color: #6c48da;
  color: white;
  padding: 10px 20px;
  font-size: 700;
}
.services-area {
  box-shadow: 10px 10px 25px #af9aec;
  border-radius: 5px;
  margin-left: 10px;
}
/* second part end */
/* third part start */
.edu {
  width: 30%;
  float: left;
  margin: 3px;
  padding: 10px;
}

/* final part*/
.final {
  text-align: center;
  text-decoration: rgb(28, 28, 32);
  margin-top: 15px;
}

.last-btn {
  text-align: left;
  text-decoration: none;
  margin-left: 557px;
  font-size: 19px;
  color: black;
  background-color: #af9aec;
  padding: 10px 20px;
  border-radius: 5px;
}

.footer {
  text-align: center;
}
